<app-nav-bar></app-nav-bar>
<div class="container">
    <div class="card mt-4">
        <div class="card-body">
            <div class="row text-right">
                <div class="col-md-12">
                    <button (click)="onBack()" class="btn btn-sm btn-primary">< Back</button>
                </div>
            </div>
            <p>Name : {{detail.name}}</p>
            <p>Birth year : {{detail.birth_year}}</p>
            <p>Gender : {{detail.gender}}</p>
        </div>
    </div>
</div>